/**
 * Grid
 * Based on csswizardry-grids
 * http://csswizardry.com/csswizardry-grids/
 * Will be extended over time, when needed in projects
 */

.grid {
    margin: 0;
    margin-left: -$grid-gap;
    padding: 0;
    list-style: none;
}

    .grid__item {
        display: inline-block;
        padding-left: $grid-gap;
        vertical-align: top;
        width: 100%;
    }


.grid--flush {
    margin-left: 0;

    > .grid__item {
        padding-left: 0;
    }
}


.grid--center {
    text-align: center;

    > .grid__item {
        text-align: left;
    }
}
