/**
    Fonts
**/

@font-face {
    font-family: 'Icons';
    src: url('../fonts/icons.woff') format('woff'),
         url('../fonts/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}