/**
 * Generic
 */

body {
    background-color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrap {
    display: block;
    max-width: $width--wrap;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gap;
    padding-left: $gap;
}
