/**
 * Mixins & Extends
 */

@mixin breakpoint($bp) {
    @if $bp == s {
        @media #{$mq--s} {
            @content;
        }
    }
    @if $bp == m {
        @media #{$mq--m} {
            @content;
        }
    }
    @if $bp == l {
        @media #{$mq--l} {
            @content;
        }
    }
    @if $bp == m-up {
        @media #{$mq--m-up} {
            @content;
        }
    }
    @if $bp == m-down {
        @media #{$mq--m-down} {
            @content;
        }
    }
    @if $bp == wrap {
        @media #{$mq--wrap} {
            @content;
        }
    }
    @elseif $bp == retina {
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-o-min-device-pixel-ratio: 2/1) {
            @content;
        }
    }
}

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
