/**
 * Vars
 */

$width--wrap: 1280px;

$mq--s: '(max-width: 750px)';
$mq--m: '(min-width: 751px) and (max-width: 1023px)';
$mq--l: '(min-width: 1024px)';
$mq--m-up: '(min-width: 751px)';
$mq--m-down: '(max-width: 1023px)';
$mq--wrap: '(min-width: #{$width--wrap})';

$gap: 20px;

$keycolor: #2c668d;
$black: #1d1d21;
$red: #ef4b4b;
$grey: #484848;
$grey__light: #ededed;
$grey__dark: #303032;

$fontfamily: 'DIN Next W06 Regular', sans-serif;
